<section id="certs" style="min-height: 100vh; padding-top: 80px;">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h2" GutterBottom="true">Certs</MudText>
        <MudText Typo="Typo.body1">
            Certs go here
        </MudText>
    </MudContainer>
</section>