<section id="contact" style="min-height: 100vh; padding-top: 80px;">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h2" GutterBottom="true">Contact</MudText>
        <MudText Typo="Typo.body1">
            Contact form goes here
        </MudText>
    </MudContainer>
</section>