<section id="history" style="min-height: 100vh; padding-top: 80px;">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h2" GutterBottom="true">History</MudText>
        <MudText Typo="Typo.body1">
            History goes here
        </MudText>
    </MudContainer>
</section>